# Ignore everything in data except dataset.csv
data/*
!data/dataset.csv

# Ignore models
models/

# Keep reports
reports/*
!comprehensive_analysis.png
!feature_importance.png
!roc_curve.png
!metrics_final.json
!confusion_matrix_final.png

# Usual ignores
venv/
__pycache__/
*.pkl
*.joblib
*.log
.DS_Store
